.container{
    background-color: #fff;
    font-size: var(--text-small);
    font-family: "Lato";
    font-weight: 500;
}
.container form input {
    border: 1px solid var(--color-primario-claro);
}
.container form input:focus{
    background-color: var(--color-secundario-claro);
}
.container form section div {
    display: flex;
    flex-direction: column;
}