.container {
  padding: 10px 0 0 0;
  overflow: visible;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data {
  width: 60%;
  margin: 30px 0 0 0;

  display: flex;
  flex-wrap: wrap;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}

.current{
  font-family: var(--font-family-primary);
  font-size: var(--text-x-small);
  font-weight: 600;
}

.btn {
  margin: 10px ;
  padding: 0 10px;
  border: 1px solid var(--color-primary-strong);
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: 600;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
}
