div input {
    height: 2em;
    padding: 0 0 0 10px;
    text-transform: capitalize;
    border: none;
    outline: none;
}
.btn {
    background-color: var(--color-secundary-light) ;
    height: 2em;
    margin: 5px;
    padding: 0 10px;
    font-size: 1.4em;
    font-family: var(--font-family-primary);
    font-weight: 500;

}