.container {
    background-color: var(--color-primary-strong);
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container p {
    font-size: var(--text-x-small);
    font-family: var(--font-family-primary);
    font-weight:400;
    margin: 0 10px 0 0;
    color:#dadada;
}