.page{
    background-color: #ffd825;
    position: relative;
    height: 100vh;
    width: 100%;
}
.container{
    position: absolute;
    z-index: 1;

    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas: "nav aside"
    "section aside"
    "footer aside";
    height: 100%;
    width: 100%;
}
/*Nav*/
.navBar{
    border-radius: 0 0 80px 0;
    background-color:#b30000;
    grid-area: nav;
    display: flex;
}
.navBar_content{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 0 0 80px;

    animation: 1s navbar 0.2s ease-in-out;
}
@keyframes navbar{
    0% {
      transform: translateY(-200px);
    }
    100% {
        transform: translateY(0);
    }
}

.navBar_content ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 450px;
}
.navBar_content ul li a{
    color: #000;
    font-weight: 300;
    text-decoration: none;
}
/*Main*/
.main_content {
    background-color: #ffd825;

    grid-area: section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;

}
.main_content h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}
.main_content p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.main_content button{
    background-color: var(--color-primary-strong);
    border: 1px solid var(--color-primary-strong);
    color: var(--color-secundary-light);
    cursor: pointer;
    width: 100px;
    height: 2em;
    font-size: 2em;
}
.main_content button:hover{
    background-color: var(--color-secundary-light);
    border: 1px solid var(--color-secundary-light);
    color: #000;
    transform: scale(1.1);
}

/*Aside*/
.side_content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;

    grid-area: aside;

    height: 100%;
}
.side_content p {
    transform: rotate(-90deg);
    font-size: 36px;

    grid-row: 1 / 6;
    grid-column: 6 / 7;
}

.side_content img {
    width: 80%;
    grid-column: 2 / 6;
    grid-row: 1 / 6; 

}

.side_content div {

    grid-column: 4 / 7;
    grid-row: 1 / 6; 

    height: 100%;
}
/*Footer*/
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    background-color:#b30000;
    border-radius: 0 80px 0 0;

}

.footer div {
    width: 200px;
    height: 50%;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}
.footer div img {
    width: 300px;
    position: absolute;
    bottom: 30px;

    transform: translateY(0px) scale(1);
    transition: transform 0.5s ease-in-out;
}
.footer div:hover img {
    cursor: pointer;
    transform: translateY(-20px) scale(1.1);
    transition: transform 0.3s ease-in-out;
}
