.container {
  padding: 10px 0 0 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns {
  width: 60%;
  margin: 10px 0 0 0;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btns p {
  font-family: var(--font-family-primary);
  font-weight: 500;
}
.btns select {
  background-color: var(--color-secundary-light);
  padding: 2px;
  border: none;
  outline: none;
}
.btns select option {
  text-transform: capitalize;
  font-family: var(--font-family-primary);
  font-weight: 500;
}
.btns button {
  background-color: var(--color-primary-strong);
  border: 1px solid var(--color-primary-strong);
  cursor: pointer;
  padding: 0 5px;
  margin: 0 5px;
  font-size: var(--text-x-small);
  font-family: var(--font-family-primary);
  color: rgb(167, 222, 216);
}
.btns .btnFilter button {
  background-color: var(--color-secundary-light);
  color: #000;
  border: none;
}
.btns .btnFilter button:hover {
  background-color: var(--color-secundary-strong);
  color: var(--color-secundary-light);
}
.btns button:hover,
.btns button:focus {
  background-color: var(--color-secundary-light);
  color: #000;
}
.btns p {
  font-size: var(--text-x-small);
  font-family: var(--font-family-primary);
}
.btn {
  margin: 10px;
  padding: 0 10px;
  border: 1px solid var(--color-primary-strong);
  cursor: pointer;
  font-size: var(--text-small);
  font-weight: 600;
  font-family: var(--font-family-primary);
  text-transform: uppercase;
}
/*Loader*/
.loader {
  background-color: #fff;
  width: 100vw;
  height: 95vh;
  display: flex;
  align-items:first baseline;
  justify-content: center;
  position: absolute;
  z-index: 3;

  animation: loader 3s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.imgOne,
.imgTwo,
.imgTree{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: scaling 2s ease-in-out infinite;
}
.imgOne {
  animation-delay: 0.2s;
}
.imgTwo {
  animation-delay: 0.4s;
}
.imgTree {
  animation-delay: 0.6s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}
