@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Prompt:wght@300;400;600&family=Skranji:wght@400;700&display=swap');
:root{
  --color-primary-strong:  #b30000;
  --color-secundary-strong:  #e60000;
  --color-primary-light:  #ff6666;
  --color-secundary-light:  #ffe6e6;
  --font-family-primary: "Prompt";
  --font-family-secundary:"Skranji";
  --text-x-small: 1.2em;
  --text-small: 1.5em;
  --text-medium: 1.8em;
  --text-large:2em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-size: 62.5%;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
}
a:link, a:visited, a:active {
  text-decoration:none;
}

