.container {
    background-color:var(--color-primary-strong);
    height: 80px;
    padding: 0 30px 0 0; 

    display: flex;
    justify-content:space-around;
    align-items: center;

}
.container div{
    display: flex;
    justify-content: space-evenly;
}
.container div img {
    width: 30%;
}
.btnView {
    margin: 10px;
    font-size: var(--text-small);
    cursor: pointer;
    font-family: var(--font-family-primary);
    color: rgb(167, 222, 216);
}
.btnView:focus,
.btnView:hover{
    padding: 10px;
    color: aliceblue;
    text-decoration:underline;
}