.container {
    background-color:#2C3333;
    height: 80px;
    padding: 0 30px 0 0; 

    display: flex;
    justify-content:space-around;
    align-items: center;

}
.btnView {
    margin: 10px;
    font-size: 1.5em;
    cursor: pointer;
    font-family: "Lato";
    color: rgb(167, 222, 216);
}
.btnView:hover{
    background-color: #2E4F4F;
    padding: 10px;
    color: aliceblue;
    text-decoration:underline;
}
.btnView:focus{
    background-color: #2E4F4F;
    padding: 10px;
    color: aliceblue;
    text-decoration:underline;
}